body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.bg {
    background: #f4f4f4;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.card {
	margin-left: 10px;
	margin-right: 10px;
}

.content-center {
    display: flex;
    justify-content: center;
    margin: 2% 0 5% 0;
}

.submitbtn {
  display: inline-block;
  background-color: #276389;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 16px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}
